doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        title Profile - Jitendra Kumar Mishra
        link(rel="icon", type="image/x-icon", href="assets/img/favicon.ico")
        // Font Awesome icons (free version)
        script(src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous")
        // Google fonts
        link(href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet")
        // Core theme CSS (includes Bootstrap)
        link(href="css/styles.css" rel="stylesheet")
    body#page-top
        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top#sideNav
            a.navbar-brand.js-scroll-trigger(href="#page-top")
                span.d-block.d-lg-none Jitendra Kumar Mishra
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src="assets/img/profile.jpg", alt="...")
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarResponsive
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#about") About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#experience") Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#education") Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#projects") Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#skills") Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#awards") Certification/Badges
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#contact") Contact


        // Page Content
        .container-fluid.p-0
            // About
            section.resume-section#about
                .resume-section-content
                    h1.mb-0
                        | Jitendra Kumar
                        span.text-primary Mishra
                    .subheading.mb-5
                        | Chicago, IL. +1-(773) 470-3892 ·
                        a(href="mailto:jitendra3010@gmail.com") jitendra3010@gmail.com
                    p.lead.mb-5(style="text-align: justify;")
                        | I am a Machine Learning Research Analyst and Data Scientist with a passion for leveraging data-driven insights to solve complex problems. 
                        | With a Master of Science in Data Science from DePaul University, I specialize in machine learning, deep learning, and data analysis and visualization techniques.
                        | My research focuses on developing scalable solutions for medical imaging, predictive modeling, and business intelligence systems, backed by extensive academic research experience. 
                        | Over the past decade, I have held leadership roles at Oracle and Infosys, where I led teams in creating data-driven solutions for large-scale enterprise applications.
                        | Driven by the intersection of data science and technology, I am continually working on innovative solutions to enhance decision-making and business outcomes.
                    .social-icons
                        a.social-icon(href="https://www.linkedin.com/in/jitendra3010/")
                            i.fab.fa-linkedin-in
                        a.social-icon(href="https://github.com/jitendra3010")
                            i.fab.fa-github
            hr.m-0

            // Experience
            section.resume-section#experience
                .resume-section-content
                    h2.mb-5 Experience
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Machine Learning Research Analyst
                            .subheading.mb-3 DePaul CoBaab Lab
                            ul.justify-text
                            li Led controlled experiments to evaluate the effectiveness of machine learning models in detecting fractures and edema.
                            li Developed and iterated analysis pipelines using Python and PyTorch to enhance the accuracy and efficiency of CNN models with optimized U-net architecture for medical imaging, resulting in a 75% accuracy in bounding box identification for edema detection.
                            li Engaged cross-functionally with research teams, contributing to data-driven decision-making in medical imaging research.
                        .flex-shrink-0
                            span.text-primary Jan 2024 - Present
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Data Scientist
                            .subheading.mb-3 DePaul CoBaab Lab
                            ul.justify-text
                            li Performed advanced analytics on complex mice brain datasets to uncover insights in gene expression studies.
                            li Developed and implemented statistical and machine learning models utilizing PCA for dimensionality reduction and advanced visualization techniques with Matplotlib and Seaborn, leading to enhanced data-driven decision-making.
                        .flex-shrink-0
                            span.text-primary Jun 2023 - Dec 2023
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Principal Application Engineer
                            .subheading.mb-3 Oracle
                            ul(style="text-align: justify;")
                            li Spearheaded a team in adopting Agile methodologies, enhancing and delivering impactful supply chain software solutions.
                            li Automated reporting processes developed dashboards to provide insights at scale, which saved 1.5 hr. of manual effort every day.
                            li Led the development of data-driven solutions for Oracle Cloud Services, implemented RESTful web services for all domain DB components in ADF, and tested using Postman with OAuth2 security principles for user data protection.
                            li Increased revenue by 10% with development of a B2B messaging solution using SOA components, driving significant business impact.
                            li Executed comprehensive Unit, Integration, Performance, and Regression testing, utilizing libraries like Junit, ensuring 100% code coverage and reducing errors and downtime.
                        .flex-shrink-0
                            span.text-primary May 2014 - Nov 2019
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Technology Analyst
                            .subheading.mb-3 Infosys Ltd.
                            ul.justify-text
                            li Built data analysis pipelines and conducted statistical analysis to support key financial decisions for clients like BOFA and AMEX.
                            li Spearheaded a PL/SQL-driven data solution through an ETL process of over 5 million records, improving operational efficiency by 70% through performance tuning and SQL query optimization techniques.
                            li Developed web applications and data repositories, reducing costs and improving efficiency through automation and optimization.
                        .flex-shrink-0
                            span.text-primary Jun 2009 - May 2014

            hr.m-0

            // Education
            section.resume-section#education
                .resume-section-content
                    h2.mb-5 Education
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 DePaul University
                            .subheading.mb-3 Master of Science in Data Science
                            div Computational Method Track
                            p GPA: 4.00
                        .flex-shrink-0
                            span.text-primary Jan 2023 - Nov 2024
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Biju Patnaik University of Technology
                            .subheading.mb-3 Bachelor of Technology in Information Technology
                            p GPA: 3.46
                        .flex-shrink-0
                            span.text-primary Mar 2005 - Mar 2009

            hr.m-0

            // Projects
            section.resume-section#projects
                .resume-section-content
                    h2.mb-5 Projects
                    .row
                    div
                        h3 Optimized U-Net Architecture for Precise Edema ROI Definition in MRI Image Segmentation
                        p Developed a customized CNN Model with U-Net architecture to find Bounding area of Feet fractures/Edema in MRI scans - Image Segmentation
                        a.btn.btn-primary(href="https://github.com/jitendra3010/MRI-Fractures-Project", target="_blank") GitHub
                    hr
                    // Project 1
                    .row
                    div
                        h3 Lane and Curve Detection for Autonomous Vehicles
                        p Created a real-time image processing pipeline for lane detection, utilizing OpenCV and deep learning models to enhance autonomous vehicle navigation. Video images used in the pipeline were Chicago downtown roads during driving.
                        a.btn.btn-primary(href="https://github.com/jitendra3010/lane_detection_for_autonomus_vehicle", target="_blank") GitHub
                    hr
                    // Project 2
                    .row
                    div
                        h3 Movie Recommender System
                        p Built a recommendation system with regression and classification for predicting revenue and success; utilized content-based and collaborative filtering (SVD) for recommendation.
                        a.btn.btn-primary(href="https://github.com/jitendra3010/MovieRecommenderSystem", target="_blank") GitHub
                    hr
                    // Project 3
                    .row
                    div
                        h3 Gesture Recognition with Hybrid 3D Pooling CNN
                        p Designed a gesture recognition system using a hybrid 3D pooling CNN, achieving high accuracy in low-resolution environments with neural network and deep learning techniques for smart TV.
                        a.btn.btn-primary(href="https://github.com/jitendra3010/CNN_Gesture_recognition", target="_blank") GitHub
                    hr
                    // Project 4
                    .row
                    div
                        h3 Text-to-Image Generation for E-Commerce
                        p Developed a generative AI model using diffusion-based approaches for product image generation from text descriptions, enhancing e-commerce catalog imagery.
                        a.btn.btn-primary(href="", target="_blank") GitHub
                    hr
                    // Project 5
                    .row
                    div
                        h3 Heart Attack Analysis and Prediction
                        p Built a predictive model using Azure ML with 84% accuracy. Deployed via Azure BLOB storage, automating data preprocessing with Azure Functions.
                        a.btn.btn-primary(href="https://github.com/jitendra3010/heart_attack_analysis", target="_blank") GitHub
                    hr
                    // Project 6
                    .row
                    div
                        h3 HR Analytics
                        p In this work, thorough data analysis was performed in the attrition data of a private company. Various data analysis techniques such as feature selection, dimensionality reduction, data exploration, and supervised learning techniques were performed.
                        a.btn.btn-primary(href="https://github.com/jitendra3010/hr_attrition_analysis", target="_blank") GitHub
                    hr

            hr.m-0

            // Skills
            section.resume-section#skills
                .w-100
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                    li.list-inline-item
                        i.fab.fa-python
                    li.list-inline-item
                        i.fab.fa-java
                    li.list-inline-item
                        i.fab.fa-r-project
                    li.list-inline-item
                        i.fab.fa-jenkins
                    li.list-inline-item
                        i.fab.fa-github
                    li.list-inline-item
                        i.fab.fa-kaggle
                    li.list-inline-item
                        i.fab.fa-linux
                    li.list-inline-item
                        i.fab.fa-aws
                    li.list-inline-item
                        i.fab.fa-microsoft
                    li.list-inline-item
                        img(src="https://upload.wikimedia.org/wikipedia/commons/a/a8/Microsoft_Azure_Logo.svg", alt="Azure logo", style="width: 80px; height: 80px;")
                    .subheading.mb-3 Skillset
                    ul.fa-ul.mb-0(style="margin-left: 1.5em !important;")
                    // Technical Skills
                    div.skill#set1 Technical Skills:
                    div#skill1(style="margin-bottom:15px;")
                        ul(style="list-style-type:disc;")
                        li Python, R, Java, SQL, PL/SQL, MySQL, PostgreSQL, JSON, Machine Learning, Supervised and Unsupervised Learning, Convolutional Neural Networks
                        li Predictive Modeling and Analysis, Data Analysis and Regression, Hadoop, ETL, EDA, Convolutional Neural Network (CNN)
                        li Large Language Model (LLM)
                        
                    // Framework/Libraries
                    div.skill#set2 Framework/Libraries:
                    div#skill2(style="margin-bottom:15px;")
                        ul(style="list-style-type:disc;")
                        li J2EE, Spring, Oracle Application Development Framework (ADF), SCRUM, OpenCV
                        li Pillow, PyTorch, TensorFlow, scikit-learn, NumPy, SciPy, pandas, matplotlib, seaborn, ggplot, Pyplot, Plotly
                        
                    // Tools/Platform
                    div.skill#set3 Tools/Platform:
                    div#skill3(style="margin-bottom:15px;")
                        ul(style="list-style-type:disc;")
                        li REST Services, AWS (Sagemaker, S3), Microsoft Azure (Data Factory, Azure Databricks, Data Lake, Azure Synapse Analytics, Blob Storage)
                        li Power BI, Tableau, JIRA, ServiceNow, Microsoft Office, R-studio, Jupyter notebook, Visual Studio, Eclipse
                        li VSCode, IntelliJ, Postman, Soap UI, Rest API, GIT, SVN
                        
                    // Other Skills
                    div.skill#set4 Other:
                    div#skill4(style="margin-bottom:15px;")
                        ul(style="list-style-type:disc;")
                        li Agile, Dashboard development, Data Engineering and Modeling, Data Manipulation
                        li Cloud Computing, ETL Processes, Statistical problem solving, innovative thinking
                        li Critical thinking, analytical skills, client handling
            hr.m-0

            // Certification/Badges
            section.resume-section#awards
                .resume-section-content
                    h2.mb-5 Awards/Certifications/Badges
                    ul.fa-ul.mb-0
                    li
                        span.fa-li
                        i.fas.fa-trophy.text-warning
                        a(href="https://badges.marquiswhoswho.com/Badge/honoredlistee/005516c1f6da49f38b5afc8ddd9b029f86279c6ea48247519378eb787ccfd024") Honored Listee Marquis Who's Who
                    li
                        span.fa-li
                        i.fas.fa-trophy.text-warning
                        a(href="https://www.credly.com/badges/93f5aadb-0968-4796-b7f3-9fb858989910/linked_in_profile") NASA Tops Open Science
                    li
                        span.fa-li
                        i.fas.fa-trophy.text-warning
                        a(href="https://www.linkedin.com/learning/certificates/cc1b2c5519594f103c9f4550408046a4c73bd8cfb81033aa96deb95bd8234946?u=2228698") Microsoft Azure Data Engineer Associate Learning
                    li
                        span.fa-li
                        i.fas.fa-trophy.text-warning
                        a(href="https://www.udemy.com/certificate/UC-8ea4e0a4-3985-46c3-8670-153367c6d3ab/") The Complete Salesforce Development Course
                    li
                        span.fa-li
                        i.fas.fa-trophy.text-warning
                        a(href="https://www.scrum.org/user/188010") Professional Scrum Master I

                //- Contact Section
                section.resume-section.p-3.p-lg-5.d-flex.align-items-center#contact
                    .w-100
                        h2.mb-5 Contact
                        p.text-muted.mb-5 Please Give me a call or send me an email and I will get back to you as soon as possible!
                        .row
                        .col
                            i.fas.fa-phone.fa-3x.mb-3.text-muted
                            div +1 (773)-470-3892
                        .col
                            i.fas.fa-envelope.fa-3x.mb-3.text-muted
                            a.d-block(href="mailto:jitendra3010@gmail.com") jitendra3010@gmail.com


        // Bootstrap core JS
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js")
        // Core theme JS
        script(src="js/scripts.js")